body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 1em;
    color: #444;
    padding: 0 10px;
    background-color: rgb(245, 249, 251);
}

* {
    font-family: Public Sans,Sora,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

h1,
h2,
h3 {
    line-height: 1.2;
}

img {
    width: 30em;
    display: block;
}

li {
    background-color: white;
    border-radius: 1em;
    padding:1em;
    margin: 1em;
    box-shadow:2px 2px 2px darkgrey;
}

ol {
    display: flex;
    flex-direction: column;
    align-items: center;
    counter-reset: section;
}

li {
  width:100%;
  display: flex;
  flex-direction: row;
}
li > span {
    margin-left: 1em;
    margin-right: 1em;
    align-self: center;
}
li::marker {
  color: transparent;
}
.number {
  align-self: flex-start;
  color: indigo;
  font-size: large;
  text-align: center;
  width:2em;
  min-width: 2em;
  height:2em;
  min-height:2em;
  line-height: 2em;
  background-color:rgb(222, 222, 242);
  border-radius: 400em;
  counter-increment: section;
  font-weight: bold;
}

img {
    margin-top: 1em;
}

.number::before {
    content: counter(section)
}

.number * {
    align-self: center;
}